@model IEnumerable<UserServiceModel>

@{
    ViewBag.Title = "All Users";
}

<h2 class="text-center">@ViewBag.Title</h2>



<table class="table">
    <thead>
        <tr>
            <th><label>Email</label></th>
            <th><label>Full Name</label></th>
            <th><label>Favourite Team</label></th>
            <th><label>User Is Author</label></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var user in Model)
        {
            <tr>
                <td><label>@user.Email</label></td>
                <td><label>@user.FullName</label></td>
                <td><label>@user.FavouriteTeam</label></td>
                <td>
                    @if (string.IsNullOrEmpty(user.FavouriteTeam) == false)
                    {
                        <label>✔</label>
                    }
                    else
                    {
                        <label class="text-center">❌</label>
                    }
                </td>
                
            </tr>
        }
    </tbody>
</table>
<style>
    body {
        background-image: url("https://img.freepik.com/premium-photo/neat-desktop-with-office-appliances_23-2147833239.jpg?w=2000");
        margin: 0;

    }

    .table{
        color:black;
        position: absolute;
        top: 27%;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    .text-center {
        color:black;
        position: absolute;
        top: 12%;
        width: 100%;
        text-align: center;
        font-size: 40px;
        font-family: Britannic;
    }
    </style>