@{
    ViewData["Title"] = "All World Cup Champions";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="text-center">
    <div class="row">
        <div class="span3 pic1">
            <p class="text-center">
                Brazil: 5(1958, 1962, 1970, 1994, 2002)
            </p>
            <img class="teampic" src="http://thebotafogostar.com/wp-content/uploads/2014/03/Brazil-World-Cup-Final-Winners-1958.jpg"><img>
            <img class="teampic" src="https://i1.wp.com/goaldentimes.org/wp-content/uploads/2012/02/wc10.jpg"><img>
            <img class="teampic" src="https://d3nfwcxd527z59.cloudfront.net/content/uploads/2022/10/14160624/Brazil-1970-World-Cup.jpg"><img>
            <img class="teampic" src="https://cdn.mos.cms.futurecdn.net/Hgv7sEiSEgk5stsaC5yvTd.jpg"><img>
            <img class="teampic" src="https://staticc.sportskeeda.com/wp-content/uploads/2017/07/brazil-2002-world-cup-squad-1499144112-800.jpg"><img>

        </div>
    </div>
</div>
<div class="text-center">
    <div class="row">
        <div class="span3 pic1">
            <p class="text-center">
                Germany: 4(1954, 1974, 1990, 2014)
            </p>
            <img class="teampic" src="https://static.dw.com/image/6112328_7.jpg"><img>
            <img class="teampic" src="http://i.imgur.com/pyCGq5F.jpg"><img>
            <img class="teampic" src="https://backpagefootball.com/wp-content/uploads/2014/06/West-Germany-1990.png"><img>
            <img class="teampic" src="https://www.india.com/wp-content/uploads/2014/07/germany-players-pose-for-a-team-photo-prior-to-the-2014-fifa-world-cup-brazil-round-of-16-match-30.jpg"><img>

        </div>
    </div>
</div>
<div class="text-center">
    <div class="row">
        <div class="span3 pic1">
            <p class="text-center">
                Italy: 4(1934, 1938, 1982, 2006)
            </p>
            <img class="teampic" src="https://www.aljazeera.com/wp-content/uploads/2022/10/GettyImages-56708853.jpg?resize=770%2C513"><img>
            <img class="teampic" src="https://www.sportsnet.ca/wp-content/uploads/2014/06/WC_1938.jpg"><img>
            <img class="teampic" src="https://www.sportetcitoyennete.com/wp-content/uploads/2022/10/Equipe-Italie-Football-82.jpg"><img>
            <img class="teampic" src="https://historyofsoccer.info/wp-content/uploads/2022/08/2006-world-cup.webp"><img>

        </div>
    </div>
</div>
<div class="text-center">
    <div class="row">
        <div class="span3 pic1">
            <p class="text-center">
                Argentina: 2(1978, 1986)
            </p>
            <img class="teampic" src="https://static.prod.iranwire.com/articleslide/1_junN.jpg"><img>
            <img class="teampic" src="https://i.ytimg.com/vi/ckfbzt3p7Ss/maxresdefault.jpg"><img>

        </div>
    </div>
</div>
<div class="text-center">
    <div class="row">
        <div class="span3 pic1">
            <p class="text-center">
                France: 2(1998, 2018)
            </p>
            <img class="teampic" src="https://www.aljazeera.com/wp-content/uploads/2022/11/000_Par811157.jpg?resize=770%2C513"><img>
            <img class="teampic" src="https://i.ebayimg.com/images/g/BW4AAOSw3opbalAi/s-l1600.jpg"><img>

        </div>
    </div>
</div>
<div class="text-center">
    <div class="row">
        <div class="span3 pic1">
            <p class="text-center">
                Uruguay: 2(1930, 1950)
            </p>
            <img class="teampic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Uruguay_national_football_team_1930.jpg/1200px-Uruguay_national_football_team_1930.jpg"><img>
            <img class="teampic" src="https://upload.wikimedia.org/wikipedia/commons/3/38/Urug1950.jpg"><img>

        </div>
    </div>
</div>
<div class="text-center">
    <div class="row">
        <div class="span3 pic1">
            <p class="text-center">
                England: 1(1966)
            </p>
            <img class="teampic" src="https://sky.shorthandstories.com/boys-of-66-and-dementia/assets/DJsKwaZHNI/gettyimages-3427178-2560x1440.jpeg"><img>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="row">
        <div class="span3 pic1">
            <p class="text-center">
                Spain: 1(2010)
            </p>
            <img class="teampic" src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/bltc7ae9e7578bd24df/62fe3c1eeda2cb4790acdc08/97476.jpg"><img>
        </div>
    </div>
</div>

<style>
    body {
        font: Verdana, Arial, Helvetica, sans-serif;
        background-color: #CCC;
        margin: 0;
        padding: 0;
        color: darkred;
        overflow: auto;
        background-image: url("https://e0.365dm.com/21/10/2048x1152/skysports-world-cup-trophy_5555593.jpg");
        margin: 0;
    }

    p {
        margin-top: 0;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 40px;
    }

    h2 {
        font-size: 40px;
        font-weight: 600;
        color: cornflowerblue;
        box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    }

    .teampic {
        height: 250px;
        width: 250px;
        overflow: auto;
        margin-bottom: 10px;
    }
</style>