@model IEnumerable<FactServiceModel>

@{
    ViewBag.Title = "My Facts";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model.Any())
{
        <div class="row">

        @foreach (var fact in Model)
        {
             <partial name="_FactPartial" model="@fact"></partial>
        }
        </div>
}
else
{
     <h3 class="text-center">You still don't have facts!'</h3>   
}

<style>
    body {
        background-color: lightslategrey;

    }

    h2 {
       background: linear-gradient(180deg, #4B91F7 0%, white 100%);
        font-size: 50px;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        color: cornflowerblue;
        box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    }
    </style>
